/*
!/.gitattributes
!/.gitignore
!/build.gradle.kts
!/settings.gradle.kts
!/gradlew
!/gradlew.bat
!/gradle
!/src
!/CLAUDE.md
!/knowledge-manager
!/.claude
/src/*/local-files
/.claude/*
!/.claude/skills
