/*
!/.gitignore
!/build.gradle.kts
!/settings.gradle.kts
!/gradlew
!/gradlew.bat
!/gradle
!/src
/src/*/local-files
/src/common/files/kubejs/client_scripts/jsconfig.json
/src/common/files/kubejs/server_scripts/jsconfig.json
/src/common/files/kubejs/startup_scripts/jsconfig.json
